In [205]:
import pandas as pd 
import re
import matplotlib.pyplot as plt

In [196]:
df = pd.read_csv('p1_cnbc_top_50.csv')
df = df[['cnbc_link', 'company', 'Investors']]
Investors = df.Investors

In [197]:
# Create long list of VCs, remove duplicates
string=''
for i in range(len(Investors)):
    string += '; '+str(Investors[i])
new_cols = sorted(list(set(string.split('; '))))[1:]

In [198]:
# Create a row for each unique VC value
df=pd.concat([df,pd.DataFrame(columns=new_cols)]).fillna(0)

In [199]:
# Populate the empty VC rows
for i in range(len(Investors)):
    a_list = Investors[i].split('; ')
    for item in a_list:
        df[item][i] = 1

C:\Users\sski\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [203]:
# Create count matrix
vals = df.loc[:,new_cols]
vals.loc['Total',:]= vals.sum(axis=0)
vals.loc[1:,'Total'] = vals.sum(axis=1)
vals

,137 Ventures,1776 Ventures,83North,9Yards Capital,A-Grade Investments,AID Partners Capital,AME Cloud Ventures,Aaron Levie,Aboud Khaddam,Abstract Ventures,...,Wellcome Trust,Wellington Management,Wellington Partners,Western Technology Investment,Wing Venture Capital,Workday Ventures,Y Combinator,Yuan Capital,Zander Lurie,Total
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,25.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,25.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,22.0
7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0
8,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
9,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,13.0
11,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
12,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,23.0
13,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
Total,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,...,1.0,3.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,351.0

In [202]:
a_list = list(vals.loc['Total',:])[:-1] #Remove total cell
a_list[a_list.index(max(a_list))]

print("What VC invested in the CNBC list the most?",new_cols[6])

What VC invested in the CNBC list the most? AME Cloud Ventures

In [217]:
df_plot = pd.DataFrame(dict(zip(new_cols,a_list)),index=[0])

In [231]:
df_plot=df_plot[df_plot>1].dropna(axis=1)

In [232]:
df_plot

,Bracket Capital,CapitalG,Coatue Management,DST Global,Dragoneer Investment Group,G Squared,GV,General Catalyst,Geodesic Capital,ICONIQ Capital,Kleiner Perkins,Morgan Stanley,Redpoint,SV Angel,Sequoia Capital,T. Rowe Price,Wellington Management
0,3.0,4.0,4.0,3.0,5.0,3.0,4.0,3.0,3.0,5.0,6.0,3.0,3.0,4.0,6.0,3.0,3.0

In [230]:
df[['company','Investors']]

             company                                          Investors
0             Stripe  Sequoia Capital; Allen & Company LLC; Lowercas...
1           Coursera  G Squared; EG Capital Advisors; Kleiner Perkin...
2               SoFi  Jihan Bowes-Little; Morgan Stanley; Wellington...
3           DoorDash  Ted Zagat; Sequoia Capital; CRV; Kleiner Perki...
4             Affirm  Ribbit Capital; Baillie Gifford; Morgan Stanle...
5            Kabbage  Recruit Strategic Partners; Mohr Davidow Ventu...
6              Chime  IrishAngels; Access Technology Ventures; Homeb...
7               Dave  CreditEase Fintech Investment Fund; Financial ...
8             Ripple  Sean Ironstag; Accenture; Standard Chartered B...
9            Marqeta  CreditEase Fintech Investment Fund; Greyhound ...
10         Snowflake  Sequoia Capital; Sutter Hill Ventures; Human C...
11            Airbnb  G Squared; Baillie Gifford; Sixth Street Partn...
12   Guild Education  Next Play Capital; Cowboy Ventures; Monitor Ve...
13         Robinhood  Ribbit Capital; Sequoia Capital; Terrence Roha...
14  Impossible Foods  G Squared; Katy Perry; Trinity Capital Investm...
15            UiPath  Wellington Partners; HOF Capital; Seedcamp; Se...